body {
  background-image: url("../img/pattern.jpg");
}
body ul{
  background-color: #FCD900;
}
.navbar{
  background-color: #FCD900;
}
body a{
  font-family: concert one;
  color: black;
}
body a:hover{
  font-family: concert one;
  color: white;
}
.banner img{
  width: 100%;
  height: 480px;
  object-fit: cover;
}
.card img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card h5{
  font-family: concert one;
}
.card p{
  font-size: 20px;
  font-family: neuton;
}
footer {
  padding: 20px;
  text-align: center;
  background-color: #E8C07D;
}